.netb_ui_tableex {
	clear: both;
	width: auto;
	overflow: auto;
}

.netb_ui_tableex_outerheader,
.netb_ui_tableex_outerbody,
.netb_ui_tableex_header,
.netb_ui_tableex_body {
	clear: both;
	white-space: no-wrap;
	width: auto;
	overflow: hidden;
}

.netb_ui_tableex_outerbody {
	overflow: auto;
}

.netb_ui_tableex_body {
	overflow: visible;
}

.netb_ui_tableex_column {
	float: left;
	text-align: center;
	white-space: no-wrap;
	overflow: hidden;
}

.netb_ui_tableex_header {
	clear: none;
}

