.base_ui_modaldialog {
	border: outset 2px;
	background-color: white;
	color: black;
	padding: 2px;
	overflow: hidden;
	position: absolute;
}

.base_ui_modaldialog_background {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: silver;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: 998;
}

.base_ui_modaldialog_title {
	font-size: 10pt;
	font-weight: bold;
	background-color: #0066cc;
	color: white;
	padding: 1px 3px;
	overflow: hidden;
	margin-bottom: 2px;
}

.base_ui_modaldialog_container {
	border: none 0px;
	overflow: auto;
}
