.base_ui_customlist {
    background-color : white;
    color : black;
}

.base_ui_customlist .list_item {
	background-color: white;
}

.base_ui_customlist .hover {
	background-color: #afeeee;
}

.base_ui_customlist .selected {
	background-color: navy;
	color: white;
}

