@CHARSET "UTF-8";

#my_title {
    width: 98%;
    font: bold 2.0em 'arial', sans-serif;
    text-align: left;
    margin: 5px 0px 5px 10px;
    padding: 5px 0px 5px 0px;
    color: #333333;
    float: left;
}

#loginstatus01 {
    float: right;
    margin-right: 0px;
    padding-right: 2px;
    color: #666666;
    /*font-size: 1.2em;*/
    text-align: right;
}

#loginstatus01 a {
    color: #000000;
}

/*ログアウト*/
#logout_btn {
    border-radius: 8px;
    background-color: #D9D9D9;
    width: 80px;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    padding: 5px 0px 5px 0px;
    margin: 5px;
}

#logout_btn a:link, #logout_btn a:hover, #logout_btn a:visited, #logout_btn a:active {
    color: #000000;
    text-decoration: none;
}

#logout_btn a:hover {
    text-decoration: underline;
}

/*ヘッダー部のユーザ名称*/
#user_info {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    padding: 5px;
    margin: 5px;
}

/*画面遷移*/
#lable_03 {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    float: right;
}

#lable_03 a {
    color: #009DE4;
    text-decoration: underline;
}

/*画面項目*/
#lable_04 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

/*メニュー*/
#menu_title {
    border-radius: 8px;
    background-color: #E4EDD1;
    width: 220px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 5px 0px;
    margin: 5px;
}

/*メニュー明細*/
#menu_content {
    font-size: 20px;
    text-align: left;
    padding: 10px 2px 5px 20px;
    margin: 5px;
}

#menu_content a {
    color: #000000;
    text-decoration: underline;
}

/*メニューボタン明細*/
#menu_btn {
    font-size: 20px;
    text-align: left;
    padding: 10px 2px 5px 20px;
    margin: 5px;
}

#menu_btn a {
    color: #000000;
    text-decoration: underline;
}
/*メニューボタン明細*/
#menu_btn_sp {
    border-radius: 10px;
    border: 2px green solid;
    background-color: #E4EDD1;
    font-size:14px;
    font-weight: bold;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0px 5px 0px;
    width: 54px;
}
#menu_btn_sp a{
    color: #000000;
}
.r_float {
    float: right;
}

.l_float {
    float: left;
}

#d_01 {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 5px 0px 5px 5px;
    padding: 5px;
    width: 98%;
}

#d_02 {
    border-radius: 10px;
    border: 1px lightgray solid;
    background-color: #D9D9D9;
    width: auto;
    text-align: center;
    margin: 5px 0px 5px 10px;
    padding: 10px 10px 10px 10px;
    float: right;
}

#d_02 button {
    font-weight: bold;
    width: auto;
    padding: 0px;
    margin: 0px;
    background: none;
    border: 0px;
    line-height: 14px;
    overflow: visible;
    cursor: pointer;
}

#d_03 {
    border-radius: 1px;
    border: 2px #E4EDD1 solid;
    background-color: #FFFFFF;
    width: 170px;
    text-align: left;
    margin: 5px 0px 5px 5px;
    padding-left: 5px;
}

#d_04 {
    border-radius: 10px;
    border: 2px #E4EDD1 solid;
    background-color: #EAEFF7;
    width: 96%;
    text-align: left;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}

#d_05 {
    border-radius: 1px;
    border: 2px #E4EDD1 solid;
    background-color: #FFFFFF;
    width: 220px;
    text-align: left;
    margin-top: 15px;
    float: right;
    font-weight: bold;
}

#lbl_01 {
    font-size: 16px;
    text-align: left;
    color: green;
    margin: 0px 0px 20px -8px;
}

#lbl_02 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #0070C0;
    margin: 5px;
}

#lbl_03 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin-left: 5px;
}

#lbl_04 {
    font-weight: bold;
    text-align: left;
    float: left;
    margin: 5px 00px 0px 15px;
}

#lbl_05 {
    font-weight: bold;
    text-align: right;
    margin: 5px 15px 0px 0px;
}

/* 注文情報 */
#order_info {
    width: 97%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 5px 0px 5px 5px;
    float: left;
}

/* 請求情報 */
#bill_info {
    width: 98%;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 5px 0px 5px 5px;
    float: left;
}

#menu {
    width: 220px;
    background-color: #FFFFFF;
    margin: 30px 25px 5px 10px;
    padding-right: 5px;
    float: left;
}

/* 注文情報詳細 */
#order_detail {
    width: 98%;
    text-align: center;
    background-color: #FFFFFF;
    float: left;
}

#order_detail table {
    padding: 0px;
    margin: 0px 0px 5px 10px;
}

/*テーブルの緑色TH 例：注文明細*/
.th_01 {
    background-color: #E4EDD1;
    color: #000000;
    font-weight: bold;;
    text-align: left;
    padding: 3px;
    font-size: 14px:
}

/* 配送先情報 */
#deli_info {
    width: 95%;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    float: left;
}

#deli_info table {
    padding: 0px;
    margin: 0px 0px 10px 10px;
}

#info_title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-left: 0px;"
}

/* 会員情報 */
td.member_info {
    background-color: #E4EDD1;
    font-size: 12px;
    padding-left: 5px;
}

td.member_info2 {
    background-color: #C8D9A4;
    font-size: 12px;
    padding-left: 5px;
}

hr {
    border: 1px #E4EDD1 solid;
    margin-left: -5px;
}
table.tb_04 {
    width: 100%;
    left: 0px;
}

/*身分証アップロード画面*/
#up {
    float: center;
    margin-left: 25px;
    margin-bottom: 25px;
}
#des {
    float: left;
    border-radius: 8px;
    background-color: #E4EDD1;
    color: #000000;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 10px;
    margin: 5px 5px 10px 10px;
}
#errmsg {
	width: 80%;
    float: left;
	border: double 3px firebrick;
	background-color: lemonchiffon;
	margin: 5px 25px;
	padding: 5px 10px;
	color: crimson;
}
#objexp {
    float: left;
	font-size: 14px;
	font-weight: normal;
	width: 88%;
	border: solid 1px #000;
	margin: 5px 5px 15px 10px;
	padding: 5px;
	background-color: lemonchiffon;
	color:red;
}
#notice {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 0px 5px 10px 10px;
}

#explain {
    float: left;
	font-size: 14px;
	font-weight: bold;
	width: 91%;
	border: solid 1px crimson;
	margin: 10px 5px 20px 10px;
    padding: 5px;
}

.ml_10 {
    margin-left: 10px;
}

.mr_50 {
    margin-right: 50px;
}
.mr_15 {
    margin-right: 15px;
}