@CHARSET "UTF-8";

#contents table {
	margin: 0px;
	padding: 0px;
}

table.ddtable {
	background-color: #dddddd;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

td.Still_label {
	text-align: left;
	padding: 0px 5px 0px 5px;
	background-color: yellow;
	font-size: 15px;
	font-weight: bold;
}

td.transition {
	text-align: center;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
	font-weight: bold;
}

td.l_label {
	text-align: left;
	padding: 0px 0px 0px 5px;
	background-color: #eeeeee;
}

td.r_label {
	text-align: right;
	padding: 0px 5px 0px 0px;
	background-color: #eeeeee;
}

td.c_label {
	text-align: center;
	/*padding: 2px 10px 2px 0px;*/
	background-color: #eeeeee;
}

td.l_data {
	text-align: left;
	padding: 0px 0px 0px 5px;
	background-color: #ffffff;
}

td.r_data {
	text-align: right;
	padding: 0px 5px 0px 0px;
	background-color: #ffffff;
}

td.c_data {
	text-align: center;
	padding: 2px 0px 2px 0px;
	background-color: #ffffff;
}

div {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}


#div01 {
	float: left;
	margin-left: 25px;
	width: 550px;
}

#div01 #command {

}

#div01 #command ul {
	list-style: none;
}

#div01_1 {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

#div01_2 {
	clear: both;
	width: inherit;
	margin-bottom: 5px;
}

#div01_3 {
	width: inherit;
	margin-bottom: 5px;
}

#div02 {
}

#div02_1 {
	margin-bottom: 5px;
}

#div02_2 {
}

#title1 {
	clear: both;
	background-color: #FFFF99;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	height: 18px;
	margin: 5px 25px 5px 25px;
}

#div03 {
	clear: both;
	height: 180px;
	margin-left: 25px;
}

#div03 #div03_1 {
	float: left;
	height: inherit;
	margin: 0px;
	padding: 0px 5px 0px;
	border: thin solid #66CCFF;
}

#div03 #div03_2 {
	float: left;
	height: inherit;
	margin: 0px;
	padding: 0px 5px 0px;
	border: thin solid #66CCFF;
}

#div03 #div03_3 {
	float: left;
	height: inherit;
	margin: 0px;
	padding: 0px 5px 0px;
	border: thin solid #66CCFF;
}

#div03 #div03_4 {
	float: left;
	height: inherit;
	margin: 0px;
	padding: 0px 5px 0px;
	border: thin solid #66CCFF;
}

#div03 #div03_5 {
	float: left;
	height: inherit;
	margin: 0px;
	padding: 0px 5px 0px;
	border: thin solid #66CCFF;
}

#div03 #div03_arrow1 {
	float: left;
	margin-left: 0px;
	margin-right: 1px;
	vertical-align: middle;
	text-align: center;
}

#div03 #div03_arrow2 {
	float: left;
	margin-left: 0px;
	margin-right: 1px;
	vertical-align: middle;
	text-align: center;
}

#div03 #div03_arrow3 {
	float: left;
	margin-left: 0px;
	margin-right: 1px;
	vertical-align: middle;
	text-align: center;
}

#div03 #div03_arrow4 {
	float: left;
	margin-left: 0px;
	margin-right: 1px;
	vertical-align: middle;
	text-align: center;
}

#div04 {
	clear: both;
	margin-left: 25px;
}

#div04b {
	float: left;
}

#title2 {
	background-color: #FFFF99;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	height: 18px;
	margin: 5px 0px 2px 0px;
}

#div04 #div04_1 {
	float: left;
	width: 300px;
	padding: 10px 2px;
	text-align: center;
}

#div04 #div04_2 {
	float: left;
	padding: 5px 2px;
}

#div04 #div04_3 {
	float: left;
	padding: 5px 2px;
}

